.sidebar{
    padding: 0 10px;
    border-right: 1px solid #bababa;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul li{
    margin: 5px 0;
}

.sidebar ul li:hover{
    cursor: pointer;
    color: blue;
}