.navbar-default {
    background-color: #1368f2;
}

.navbar-default .navbar-nav>li>a {
    color: #f90404;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background: darkblue;
}

.navbar-default a.navbar-brand {
  color:  white;;
}

.navbar-default a.navbar-brand:hover {
  color:  black;;
}

a.navbar-brand{
  background: #f90404;
}

span.home-greeting {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.5em;
}

main{
    min-height: 790px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #1368f2;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer .container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.msg{
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

.success-msg{
    background: lightgreen;
}

.error-msg{
    background: lightcoral;
}

.single-meme img{
    max-width: 100%;
}