<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/css/site.css" type="text/css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#menu-links" aria-expanded="false" class="navbar-toggle collapsed">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
          <a href="/" class="navbar-brand">Name</a>
        </div>
        <div id="menu-links" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
            <li><a href="#">Hi, {{currentUser.username}}</a></li>
            <li>
              <form id="logout-form" action="/users/logout" method="POST"></form>
              <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
            </li>
            {{else}}
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container" id="wrapper">
      {{#if globalError}}
      <div class="error-msg msg">{{globalError}}</div>
      {{/if}} 
      
      {{{body}}}
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        Powered by &copy;Paco - 2017
      </p>
    </div>
  </footer>
</body>

</html>
