<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
     <link rel="icon" type="image/x-icon" href="/content/favicon.ico" />
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/content/site.css">
</head>
<body>
 <header>
    <nav class="nav">
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/images/add">Add Image</a></li>
        <li><a href="/images/all">Images</a></li>
    </ul>
    </nav>
 </header>

 <main>
<div class="container">
    <div class="cards row">
      {content}
    </div>
</div>
    <a href="{back}">Go Back</a>
  </main>

  <footer>
    <p>&copy; Online Shop</p>
  </footer>
</body>
</html>