<div class="row">
    <div class="col-md-12">
        <a href='{{repo?.html_url}}'>{{repo?.name}}</a>
        <p>Language:
            <font color='green'>{{repo?.language}}</font>
        </p>
        <p>Stars: {{repo?.stargazers_count}}</p>
        <button (click)="getContributors()">Show Contributors</button>
        <div class="row" *ngIf="contributors">
            <h3>Contributors:</h3>
            <contributor *ngFor="let contributor of contributors" [contributor]="contributor"></contributor>
        </div>
    </div>
</div>