@model IEnumerable<SupplierModel>

@{
    ViewData["Title"] = "Suppliers";
}

<h2>Suppliers</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Parts Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@s.Id</th>
                <th>@s.Name</th>
                <th>@s.PartsCount</th>
            </tr>
        }
    </tbody>
</table>

